{% load static %}
<!-- myproduct -->
 <div class="mainitem mt-5">
    <div class="row">
        <div class="col-3">
            <div class="image">
                <img src="{% static 'shop/images/product.jpeg' %}" alt="">
                <div class="update_cart d-flex justify-content-center mt-3">
                    <button>-</button>
                    <input class="mx-2 text-center" type="text" name="" id="" value="1">
                    <button>+</button>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="ms-3">
                <p>SYGA Woven Women Muffler</p>
                <p>Size: Free</p>
                <p>Seller:SYGA</p>
                <p>
                    <span>369</span>
                    <span class="text-success">47% Off</span>
                    <span class="text-success">1 offer applied</span>
                </p>
            </div>
           
        </div>
        <div class="col-4 text-end">
            <p class="pe-5">Delivery by Thu Jan 27 <span
                    class="border-start border-dark text-success ps-1">Free</span></p>
        </div>

    </div>
</div>
<!-- end of myproduct -->
