<nav class="text-white">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-2 logo py-3 fs-3 text-end">E Shoping</div>
            <div class="col-6 position-relative p-0">
                <input  type="search" class=""  style="height: 35px; width: 100%;" name="" id="">
                <i class="fas fa-search  position-absolute top-50 end-0 translate-middle-y text-dark me-2 fs-4"></i>
            </div>

            {% if not request.user.is_authenticated %}
            <div class="col-4 text-white d-flex align-items-center justify-content-evenly">
                <div class="login">
                    <button data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
                </div>
                <div class="more">
                    <span>More</span>
                    <i class="fas fa-chevron-down"></i>
                </div>
                <div class="cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Cart</span>
                </div>
            </div>
            {% else %}
            <div class="col-4 text-white d-flex align-items-center justify-content-evenly">
                <div class="login">
                    <span>{{request.user.username}}</span>
                    <i class="fas fa-chevron-down"></i>
                </div>
                <div class="more">
                    <span>More</span>
                    <i class="fas fa-chevron-down"></i>
                </div>
                <div class="cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Cart</span>
                </div>
                <div class="cart">
                    
                    <form action="{% url 'logout' %}" method='post'>
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
   
</nav>